
# Dependencies
/node_modules

# Tauri build artifacts
/src-tauri/target
/src-tauri/gen

# Vite build output
/dist

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local development
.env.local
.DS_Store

# Backups
/firebase_backup/

#IDE settings
.idx/
.vscode/

# Temporary files
temp-*
